@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-VariableFont_wght.ttf);
  font-style: normal;
  font-display: swap;
}

:root {
  --primary-color: #8f0101;
  --secondary-color: #b81515;
  --background-primary-color: #ffffff;
  --background-secondary-color: #f5f5f5;
  --background-tertiary-color: #000000;
  --text-primary-color: #222222;
  --text-secondary-color: #ffffff;
  --title-weight: 700;
  --text-weight: 400;
  --menu-text-weight: 500;
}

/* CSS RESET */

body,
img,
h1,
p,
legend,
input,
button,
select,
option,
textarea {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

header {
  background-color: var(--background-tertiary-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 37px 48px;
}

.logo {
  display: inline-block;
  width: 68px;
  height: 64px;
}

.navigation-menu {
  margin-top: 24px;
}

input[type="checkbox"]:checked ~ nav {
  display: block;
}

nav {
  display: none;
}
