.testimonials-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.testimonial {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.testimonial-text {
  font-size: 16px;
  font-weight: var(--text-weight);
  line-height: 28px;
}

.testimonials-container footer {
  display: flex;
  gap: 24px;
  align-items: center;
}

.testimonial-title {
  font-size: 20px;
  font-weight: var(--title-weight);
  margin: 0;
}

.rating {
  margin-top: 8px;
}
.star {
  color: var(--secondary-color);
  font-size: 32px;
}

@media screen and (min-width: 768px) {
  .testimonials-container {
    gap: 48px;
  }

  .testimonials-container footer {
    margin-top: 8px;
  }

  .testimonial-text {
    font-size: 18px;
    line-height: 32px;
  }

  .testimonial-title {
    font-size: 24px;
  }

  .star {
    font-size: 36px;
  }
}

@media screen and (min-width: 1440px) {
  .testimonials-container {
    flex-direction: row;
  }

  .testimonial-text {
    font-size: 18px;
    width: 384px;
  }

  .testimonial-title {
    font-size: 28px;
  }

  .star {
    font-size: 40px;
  }
}
